* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(100, 56, 67);
}

.header {
  text-align: start;
  padding-top: 10px;
  color: rgb(231, 203, 203);
}

ul li {
  list-style: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  height: 700px;
  width: 100%;
}

.main-grid {
  display: grid;
  background: rgb(153, 98, 122);
  justify-self: center;
  width: 170ch;
}

#donutCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  color: black;
}

.donut-img {
  height: 500px;
  width: auto;
  justify-self: center;
  align-self: center;
  border: none;
}

.right-grid {
  display: grid;
  background: rgb(200, 142, 167);
  justify-self: end;
  width: 560px;
  height: 755px;
}

.right-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.click-me {
  padding: 10px;
  background: none;
  color: black;
  font-size: larger;
}

.auto-click {
  padding: 10px;
  background: darkgray;
  color: black;
  font-size: larger;
}

.reset {
  padding: 10px;
  background: darkgray;
  color: crimson;
  font-size: larger;
}
